.profile__edit-button {
  width: 24px;
  height: 24px;
  padding: 0;
  flex-shrink: 0;
  background: url(../../../images/mesto-russia-pen.svg) center no-repeat;
  border: 1px solid #fff;
}

@media (max-width: 425px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background: url(../../../images/mesto-russia-pen.svg) center/7.5px no-repeat;
  }
}
