.header__logo {
  width: 142px;
  height: 33px;
  background: url(../../../images/mesto-russia-logo-white.svg) center/contain no-repeat;
}

@media (max-width: 425px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }
}
