.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  background: url(../../../images/mesto-russia-plus.svg) center/contain no-repeat;
  transform: rotate(45deg);
  border: none;
  padding: 0;
  transition: opacity .2s linear;
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: .6;
}

@media (max-width: 545px) {
  .popup__close-button {
    width: 26px;
    height: 26px;
    top: -45px;
    right: 5px;
  }
}
