.profile {
  display: flex;
  align-items: center;
  padding: 40px 0 50px;
}

@media (max-width: 880px) {
  .profile {
    padding: 40px 19px 50px;
  }
}

@media (max-width: 720px) {
  .profile {
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 425px) {
  .profile {
    padding: 42px 19px 36px;
  }
}
