.card__heart {
  width: 22px;
  height: 19px;
  background: url(../../../images/mesto-russia-heart.svg) center/contain no-repeat;
  border: none;
  padding: 0;
  transition: opacity .3s linear;
}

.card__heart:hover {
  cursor: pointer;
  opacity: .5;
}
