.header {
  display: flex;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  padding: 45px 0 0;
}

@media (max-width: 935px) {
  .header {
    padding: 45px 0 0 19px;
  }
}

@media (max-width: 425px) {
  .header {
    padding: 28px 0 0 27px;
  }
}
