.card__like-button {
  width: 22px;
  height: 19px;
  background: url(../../../images/mesto-russia-heart.svg) center/contain no-repeat;
  border: none;
  padding: 0;
  transition: opacity .2s linear;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: .5;
}

.card__like-button:active {
  background: url(../../../images/mesto-russia-heart-active.svg) center/contain no-repeat;
}

.card__like-button:focus {
  outline: none;
}
