.profile__name-about {
  min-width: 0;
  margin: 0 18px 0 0;
}

@media (max-width: 580px) {
  .profile__name-about {
    text-align: center;
  }
}

@media (max-width: 425px) {
  .profile__name-about {
    margin: 0 10px 0 0;
  }
}
